<!DOCTYPE html>
<html lang='ja'>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title><%= title %></title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body class="container">
<header><h1 class="display-4"><%=title%></h1></header>
<div role="main">
   <ol class="text-danger">
      <% if(err!=null){for(let i in err.errors){ %>
         <li><%=err.errors[i].message %></li>
      <% }}%>
   </ol>
   <form method="POST" action="/sche/add">
      <div class="form-group">
         <label for="begin">BEGIN</label>
         <input type="datetime-local" name="begin" id="begin" class="form-control" value="<%=form.begin%>">
         <ul class="text-danger">
            <%if(err!=null){for (let i in err.get("begin")){ %>
               <li><%=err.get("begin")[i].message%></li>
            <%}}%>
         </ul>
      </div>
      <div class="form-group">
         <label for="end">END</label>
         <input type="datetime-local" name="end" id="end" class="form-control" value="<%=form.end%>">
         <ul class="text-danger">
            <%if(err!=null){for (let i in err.get("end")){ %>
               <li><%=err.get("end")[i].message%></li>
            <%}}%>
         </ul>
      </div>
      <div class="form-group">
         <label for="place">PLACE</label>
         <input type="text" name="place" id="place" class="form-control" value="<%=form.place%>">
         <ul class="text-danger">
            <%if(err!=null){for (let i in err.get("place")){ %>
               <li><%=err.get("place")[i].message%></li>
            <%}}%>
         </ul>
      </div>
      <div class="form-group">
         <label for="content">CONTENT</label>
         <input type="text" name="content" id="content" class="form-control" value="<%=form.content%>">
         <ul class="text-danger">
            <%if(err!=null){for (let i in err.get("content")){ %>
               <li><%=err.get("content")[i].message%></li>
            <%}}%>
         </ul>
      </div>
      <input type="submit" value="作成" class="btn btn-primary">
   </form>
</div>
</body>
</html>