<!DOCTYPE html>
<html lang='ja'>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title><%= title %></title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body class="container">
<header><h1 class="display-4"><%=title%></h1></header>
<div role="main">
   <form method="POST" action="/edit">
      <input type="hidden" name="id" value="<%=form.id%>">
      <div class="form-group">
         <label for="begin">BEGIN</label>
         <%
         var d1 = new Date(form.begin);
         var dstr1 = d1.getFullYear() + '-' + ("0"+(d1.getMonth() + 1)).slice(-2) + '-' + ("0"+d1.getDate()).slice(-2) + "T" + ("0"+d1.getHours()).slice(-2) + ":" + ("0"+d1.getMinutes()).slice(-2);
         %>
         <input type="datetime-local" name="begin" id="begin" class="form-control" value="<%=dstr1%>">
      </div>
      <div class="form-group">
         <label for="end">END</label>
         <%
         var d2 = new Date(form.end);
         var dstr2 = d2.getFullYear() + '-' + ("0"+(d2.getMonth() + 1)).slice(-2) + '-' + ("0"+d2.getDate()).slice(-2) + "T" + ("0"+d2.getHours()).slice(-2) + ":" + ("0"+d2.getMinutes()).slice(-2);
         %>
         <input type="datetime-local" name="end" id="end" class="form-control" value="<%=dstr2%>">
      </div>
      <div class="form-group">
         <label for="place">PLACE</label>
         <input type="text" name="place" id="place" class="form-control" value="<%=form.place%>">
      </div>
      <div class="form-group">
         <label for="content">CONTENT</label>
         <input type="text" name="content" id="content" class="form-control" value="<%=form.content%>">
      </div>
      <input type="submit" value="更新" class="btn btn-primary">
   </form>
</div>
</body>
</html>